{{define "index"}}
    <h2>Добро пожаловать!</h2>

    <!-- Просмотр таблиц -->
    <form method="POST" action="/admin_view">
        <label>Выберите таблицу:</label>
        <select name="tableName">
            {{range .Tables}}
                <option value="{{.}}">{{.}}</option>
            {{end}}
        </select>
        <button type="submit">Посмотреть таблицу</button>
    </form>

    <!-- Изменение таблиц -->
    <form method="GET" action="/admin_edit">
        <label>Выберите таблицу для изменения:</label>
        <select name="tableName">
            {{range .Tables}}
                <option value="{{.}}">{{.}}</option>
            {{end}}
        </select>
        <button type="submit">Изменить таблицу</button>
    </form>

    <!-- Отчёты -->


    <form method="GET" action="/view_report">
        <label>Выберите отчет:</label>
        <select name="reportType" required>
            <option value="v_SalesByEmployeeAndDate">Отчет по продажам сотрудника</option>
            <option value="v_BooksByAuthor">Список книг по автору</option>
            <option value="v_ClassifierBooksInWarehouse">Книги по разделу классификатора на складе</option>
        </select>
        <br><br>
        <label>Введите значение:</label>
        <input type="text" name="filterValue" required><br><br>
        <button type="submit">Посмотреть отчет</button>
    </form>

    <!-- Запросы -->

    <form method="POST" action="/execute_query">
        <label>Выберите запрос:</label>
        <select name="queryType" required>
            <option value="totalBookCost">Вычислить общую стоимость каждой из книг, хранящихся на складе с учетом экземпляров</option>
            <option value="employeeSalesCount">Кол-во экземпляров книг, проданных каждым из сотрудников</option>
            <option value="customersByLetter">Список заказчиков, фамилия которых начинается на букву «…»</option>
            <option value="publishersByDate">В каких издательствах были изданы книги, проданные «I-го» числа</option>
            <option value="booksSoldOnDate">Список книг, реализованных «j-го» числа по предварительному заказу</option>
        </select><br><br>

        <label>Введите значение (если требуется):</label>
        <input type="text" name="inputValue" placeholder="Введите значение"><br><br>

        <button type="submit">Выполнить запрос</button>
    </form>
    <!-- Процедуры -->

    <form method="GET" action="/admin_procedures">
        <label>Процедуры</label>
        <button type="submit">Посмотреть процедуры</button>
    </form>
    {{end}}
